<div class="container">
  <div class="container__header">
    <span class="container__title">Rush Hour</span>
  </div>
  <div class="container__content">
    <div class="container__controls">
      @for (control of controls; track control.name; let isFirst = $first; let isLast = $last) {
          <ng-container 
            [ngTemplateOutlet]="control.type === gameControlType.Button ? controlButton : controlDropdownButton"
            [ngTemplateOutletContext]="{ control: control, isFirst: isFirst, isLast: isLast }"
          />
      }
    </div>
    <div class="container__grid">
      @if (!isLoadingNewGame()) {
      <grid 
        [config]="vehiclesConfig()" 
        [exitRow]="exitRow" 
        (onGridError)="reloadGrid()"
        (onGridComplete)="onGridComplete()"
        (onUserError)="onGridUserError($event)"
      />
      } @else {
        <loader/>
      }
    </div>
  </div>
  <div class="container__footer">
      <span>
        Game generation is powered by Gemini. It might take a few seconds to load - thanks for waiting!
      </span>
      <span>&copy; 2025 Eden Oren</span>
  </div>
</div>

<ng-template #controlButton let-control="control" let-isFirst="isFirst" let-isLast="isLast">
  @let isButtonDisabled = isLoadingNewGame() && (control.id === gameControlAction.NewGame || control.id === gameControlAction.Difficulty);
      <button 
        (click)="onControlClick(control)"
        class="container__control" 
        [disabled]="isButtonDisabled"
        [ngClass]="{ 
          'container__control--first': isFirst,
          'container__control--last': isLast,
          'container__control--disabled': isButtonDisabled
        }"
      >        
      @if (control.id === gameControlAction.Difficulty) {
          {{ control.name }}: {{ MAP_DIFFICULTY_TO_DESCRIPTION[this.difficulty] }}
      } @else {
          {{ control.name }}
      }
      </button>
</ng-template>

<ng-template #controlDropdownButton let-control="control" let-isFirst="isFirst" let-isLast="isLast">
    <div class="container__dropdown-wrapper">
        <ng-container 
          [ngTemplateOutlet]="controlButton"
          [ngTemplateOutletContext]="{ control: control, isFirst: isFirst, isLast: isLast }"
        />
        @if (allowDropdown) {
          <div class="container__menu">
            @for (option of control.options; track option) {
              <button (click)="onControlOptionClick(control, option)" class="container__menu-item">{{ option.name }}</button>
            }
          </div>
        }
    </div>
</ng-template>

@if (gameWon()) {
  <particles/>
}
