<div class="container">
  <div class="container__header">
    header
  </div>
  <div class="container__content">
    <div class="container__controls">
      @for (control of controls; track control.name; let isFirst = $first; let isLast = $last) {
        <button 
          (click)="onControlClick(control)"
          class="container__control" 
          [ngClass]="{ 'container__control--first': isFirst, 'container__control--last': isLast }"
        >{{ control.name }}</button>
        <!-- @if (control.type === gameControlType.Dropdown) {
          @for (option of control.options; track option; let isFirst = $first; let isLast = $last) {
            <button>{{ option }}</button>
          }
        } -->
      }
    </div>
    <div class="container__grid">
      <grid/>
    </div>
  </div>
  <div class="container__footer">
    footer
  </div>
</div>