@use 'variables' as var;

%box-style {
    border: var.$default-border;
    border-radius: var.$border-radius;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
%round-top {
    border-top-left-radius: var.$border-radius;
    border-top-right-radius: var.$border-radius;
}
%round-bottom {
    border-bottom-left-radius: var.$border-radius;
    border-bottom-right-radius: var.$border-radius;
}

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 3vh 26vw;
    @extend %box-style;
    &__header {
        background-color: var.$header-footer-bg;
        @extend %round-top;
        padding: 12px;
    }
    &__title {
        font-size: 36px;
        user-select: none;
        display: flex;
        justify-content: center;
    }
    &__content {
        flex: 1;
        display: flex;
        flex-direction: column;
        height: 100%;
        border-bottom: var.$default-border;
        border-top: var.$default-border;
        padding: 16px 36px;
    }
    &__controls {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: var.$controls-bg;
        border: var.$default-border;
        border-bottom: none;
        @extend %round-top;
    }
    &__control {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        flex: 1;
        background-color: unset;
        border: none;
        cursor: pointer;
        border-inline-start: var.$default-border;
        font: inherit;
        font-weight: 700;
        &:hover {
            background-color: var.$controls-hover-bg;
        }
        &--first {
            border-inline-start: none;
            &:hover {
                border-start-start-radius: var.$border-radius;
            }
        }
        &--last {
            &:hover {
                border-start-end-radius: var.$border-radius;
            }
        }
        &--disabled {
            cursor: default;
            &:hover {
                background-color: unset;
            }
            .container__menu {
                &:hover {
                    display: none !important;
                }
            }
        }
    }
    &__menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 2;
        background-color: #ffffff;
        border: var.$default-border;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
        box-sizing: border-box;
        display: none;
        @extend %round-bottom;
        :hover {
            display: block;
        }
    }
    &__menu-item {
        display: block;
        width: 100%;
        padding: 8px 16px;
        border: none;
        background: none;
        text-align: center;
        cursor: pointer;
        white-space: nowrap;
        &:hover {
            background-color: var.$controls-hover-bg;
        }
    }
    &__dropdown-wrapper {
        flex: 1;
        position: relative;
        display: flex;
        &:hover {
            .container__menu {
                display: block;
            }
        }
    }
    &__footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 16px;
        font-family: sans-serif;
        font-size: 12px;
        background-color: var.$header-footer-bg;
        @extend %round-bottom;
    }
    &__grid {
        flex: 1;
        border: var.$default-border;
        border-top: none;
    }
}