@if (options) {
  <div class="grid">
    @if (grid.length) {
      <gridster 
        [style.backgroundColor]="'#ffffff'"
        [options]="options"
      >
        @for (item of grid; track item; let i = $index) {
          <gridster-item 
            class="grid__item" 
            [item]="item"
          ><vehicle [direction]="item['dragging']" [color]="item['color']"/></gridster-item>
        }
      </gridster>
      <div class="grid__exit" [style.top]="'calc(100% / 6 * ' + exitRow + ')'"></div>
    } @else {
      <span class="grid__empty">Start a new Game to play</span>
    }
  </div>
}
